<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button round secondary (click)="goUsuariosList()">Usuarios</button>
  <button round secondary (click)="updatePedidosList()">Actualizar</button>
  <ion-item-group>
    <ion-item-divider light>
      CLIENTES - Pedidos sin Procesar (
      <ion-icon name="logo-usd"  secondary> Pedido</ion-icon>
      <ion-icon name="help-circle"  primary> Presupuesto</ion-icon>
      )
    </ion-item-divider>
    <ion-item tappable *ngFor="let pedido of pedidosNuevos" (click)="goPedido(pedido)">
      {{pedido.id}} - {{pedido.usuario.id}} - {{pedido.usuario.nombre}}
      <ion-icon *ngIf="pedido.isPedido >0" name="logo-usd" item-left secondary></ion-icon>
      <ion-icon *ngIf="pedido.isPedido == 0" name="help-circle" item-left primary></ion-icon>
      <ion-icon name="more" item-right></ion-icon>
    </ion-item>
  </ion-item-group>

</ion-content>